
.homepage{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
}
@media only screen and (max-width: 932px) {
    .homepage {
        width: 100%;
    }
}
@media only screen and (max-width: 512px) {
    .homepage {
       width: 100%;
    }
}