
.experienceCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19rem;
}
.experienceSmallText{
    font-size: 12px;
    font-weight: normal;
}
.experienceCardTitle{
    font-weight: bold !important;
    font-size: 19px !important;
    line-height: 1.5rem;

}
.experienceText{
    font-weight: normal;
    font-size: 15px;
}







@media only screen and (max-width: 1200px){
    .experienceCardContainer{    
        width: 16rem;
        height: 27rem;
       
    }
}
@media only screen and (max-width: 1024px){
    .experienceCardContainer{
        width: 14rem;
    }
}
@media only screen and (max-width: 920px){
    .experienceCardContainer{
        width: 8rem !important;
        height: 30rem!important;
    }
}

