
.campaignContainer{
    position: relative;
}
.compaignImg{
    opacity: 0.8;
}

.campaignText{
    color: #EB4C29;
    font-weight: bold;
    font-size: 20px;
}
.impactNumber{
    width: 200px;
}
.campVolu{
    position: absolute;
    bottom: 12rem;
    left: 5rem;
}
.campVolu2{
    position: absolute;
    right: 0px;
    top: 10rem;
}
@media only screen and (max-width: 780px){
   .campVolu{
       display: none;
   }
   .campVolu2{
       display: none;
   }
}

