
.together{
    background-image: url(../../../assets/img/Rectangle\ 33.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 334px;
    background-color: #EB4C29;
}