
.joinone {
    position: relative;
    display: block;
    padding: 87px 0 100px;
}

@media(min-width: 992px) {
    .joinoneabout {
        padding-bottom: 150px;
    }
}

.joinonebg {
   background-image: url(/assets/images/backgrounds/join-one-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.joinonebg:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba(31, 34, 48, .6);
}

.joinonebg.jarallax div div {
    filter: grayscale(100%);
}

.joinoneinner {
    position: relative;
    display: block;
    text-align: center;
}

.joinonetitle {
    font-size: 60px;
    color: #ffffff;
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 45px;
}