@use "../../../styles/global.variables" as vars;
@use "../../../styles/global.mixins" as mixins;

.mainNav {
  background: vars.$white;
  white-space: nowrap;

  a {
    color: vars.$black;
    font-weight: 500;

    &:hover {
      color: vars.$primary;
    }
  }

  .navCollapse {
    width: 100%;
    @include mixins.transition(all);
  }

  .active {
    color: vars.$primary;
  }

  .navCta {
    @include mixins.primary-button;
  }

  .logoContainer {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .mainNav {
    flex-direction: column;
  }

  .logoContainer {
    width: 250px !important;
  }

  .navCta {
    width: 100%;
  }
}
