$primary: #ea4d37;
$primary-hover: #d02b16;
$secondary: #2a2b2a;
$white: #fff;
$white-hover: rgba(255, 255, 255, 0.85);
$black: #000;

$border-radius: 15px;

$display: 60px;
$header-1: 48px;
$header-2: 42px;
$header-3: 36px;
$header-4: 30px;
$header-5: 24px;
$header-6: 20px;
