/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.about-page {
  display: none;
  position: relative;
  display: block;
  padding: 100px 0 95px;
}

.about-page__left {
  position: relative;
  display: block;
  margin-right: 60px;
}

.about-page__img {
  position: relative;
  display: block;
}

.about-page__img:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  content: "";
  background-color: var(--thm-primary);
  height: 10px;
}

.about-page__img img {
  width: 100%;
}

.about-page__trusted {
  position: absolute;
  bottom: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 0px rgb(0, 0, 0, 0.1);
  width: 255px;
  padding: 45px 47px 47px;
  left: -50px;
}

.about-page__trusted h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
}

.about-page__trusted h3 span {
  color: var(--thm-primary);
}

.about-page__right {
  position: relative;
  display: block;
  margin-left: -20px;
}

.about-page__right .section-title {
  margin-bottom: 27px;
}

.about-page__right-text {
  font-size: 16px;
  margin: 0;
}

.about-page__right-title {
  font-size: 24px;
  color: var(--thm-primary);
  font-weight: 900;
  line-height: 34px;
  margin-top: 32px;
  margin-bottom: 39px;
}

.about-five__progress {
  display: flex;
  align-items: center;
}

.about-five__progress-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .about-five__progress-wrap {
    grid-template-columns: repeat(2, 280px);
  }
}

.about-five__progress-box {
  position: relative;
  display: inline-block;
}

.about-five__progress-box canvas {
  transform: rotate(90deg);
}

.about-five__progress-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translateY(-60%) translateX(-50%);
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  color: var(--thm-black);
}

.about-five__progress h3 {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
  color: var(--thm-black);
  width: 70px;
  margin-left: 20px;
}

/*--------------------------------------------------------------
# About Page Testimonial
--------------------------------------------------------------*/
.about-page-testimonial {
  margin-top: 0;
  padding-top: 100px;
}

/*--------------------------------------------------------------
# About Page Counter
--------------------------------------------------------------*/
.about-page-counter {
  margin-top: -50px;
}
