@import "bootstrap.custom";

@font-face {
  font-family: "Aeonik";
  src: local("Aeonik"), url(../assets/fonts/Aeonik/Aeonik-Air.ttf) format("ttf");
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: Aeonik;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none !important;
}

main {
  margin-top: 73px;
}
