@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik'), url(../assets/fonts/Aeonik/Aeonik-Air.ttf) format('ttf');
}


@tailwind utilities;

html{
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  font-family: Aeonik;
  padding: 0px;
  margin: 0px;
}